body {
    min-height: 100vh;
    /* touch-action: pan-y; Allows vertical panning but disables zooming */
    overflow: hidden;

    font-family: 'Apple System', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
} 

button, .btn {
    padding: 5px 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 12px;
    border: none;
    outline: none;
} 